ClienteWS/xml-resources/web-service-references/ImplService/wsdl/localhost_8080/WSWilliamSdayle/ImplService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://inter.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://inter.org/" name="ImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://inter.org/" schemaLocation="http://localhost:8080/WSWilliamSdayle/ImplService?xsd=1"/>
</xsd:schema>
</types>
<message name="returnObj">
<part name="arg0" type="xsd:string"/>
</message>
<message name="returnObjResponse">
<part name="return" type="tns:correntista"/>
</message>
<message name="Ted">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="TedResponse">
<part name="return" type="tns:correntista"/>
</message>
<message name="Cadastro">
<part name="arg0" type="xsd:string"/>
</message>
<message name="CadastroResponse">
<part name="return" type="tns:correntista"/>
</message>
<portType name="Servico">
<operation name="returnObj">
<input wsam:Action="http://inter.org/Servico/returnObjRequest" message="tns:returnObj"/>
<output wsam:Action="http://inter.org/Servico/returnObjResponse" message="tns:returnObjResponse"/>
</operation>
<operation name="Ted" parameterOrder="arg0 arg1">
<input wsam:Action="http://inter.org/Servico/TedRequest" message="tns:Ted"/>
<output wsam:Action="http://inter.org/Servico/TedResponse" message="tns:TedResponse"/>
</operation>
<operation name="Cadastro">
<input wsam:Action="http://inter.org/Servico/CadastroRequest" message="tns:Cadastro"/>
<output wsam:Action="http://inter.org/Servico/CadastroResponse" message="tns:CadastroResponse"/>
</operation>
</portType>
<binding name="ImplPortBinding" type="tns:Servico">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="returnObj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://inter.org/"/>
</input>
<output>
<soap:body use="literal" namespace="http://inter.org/"/>
</output>
</operation>
<operation name="Ted">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://inter.org/"/>
</input>
<output>
<soap:body use="literal" namespace="http://inter.org/"/>
</output>
</operation>
<operation name="Cadastro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://inter.org/"/>
</input>
<output>
<soap:body use="literal" namespace="http://inter.org/"/>
</output>
</operation>
</binding>
<service name="ImplService">
<port name="ImplPort" binding="tns:ImplPortBinding">
<soap:address location="http://localhost:8080/WSWilliamSdayle/ImplService"/>
</port>
</service>
</definitions>